<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS4_BO3_GSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PS4_BO3_GSC.Properties.Settings>
            <setting name="ps4ip" serializeAs="String">
                <value />
            </setting>
            <setting name="ps4Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ps4Port" serializeAs="String">
                <value>9021</value>
            </setting>
        </PS4_BO3_GSC.Properties.Settings>
    </userSettings>
</configuration>